.my-account
  .nav-tabs
    border: 0
  .nav-tabs > li
    border: solid $color-green
      width: 0 0 1px 0
    float: none
    margin-bottom: 2px
    a
      background-color: $color-transparent
      border: 0
      color: $color-gray
      font-family: $font-family-base
      font-weight: $font-weight-bold
      padding: $button-base-padding
      text-transform: uppercase // till translations
      &:hover
        color: $color-gray-dark

    &.active
      border: 0
      position: relative
      a
        @include box-shadow-border($color-green, $default-border-radius, darken($color-green, 10%))
        background-color: $color-green
        border-top-right-radius: 0
        color: $color-white

    &.active:after
      border-bottom: 22px solid $color-transparent
      border-left: 12px solid $color-green
      border-top: 22px solid $color-transparent
      content: ''
      display: block
      position: absolute
      right: -10px
      top: 0

    &.active:hover a
      background-color: lighten($color-green, 10%)
      border-color: lighten($color-green, 10%)

    &.active:hover:after
      border-left-color: lighten($color-green, 10%)
  h2
    margin-bottom: $m * 1.5

  h4
    @extend %box-reset
    color: $color-green
    font:
      family: $font-family-second
      size: $font-size-medium
    line-height: $font-size-medium * 3

  input[type='text'],
  input[type='email'],
  textarea
    @include box-shadow-border($color-gray-dark, $default-border-radius, darken($color-gray-dark, 10%))

  input[type='text'],
  input[type='email']
    height: $inputs-size

  label
    margin-top: 2px

  textarea
    height: $inputs-size * 3

  .icon-team:after
    @include circle-icons($color-green, $color-white)
    font-size: $icon-size / 2
    margin-bottom: $m / 2
    padding: $m / 2

  .rep-counter
    color: $color-green
    font-size: $font-size-big
    line-height: $font-size-big

  .add-benefit
    @extend %left-corners
    float: left
    width: calc(100% - (#{$inputs-size}))

  .add-benefit-submit
    @extend %submit-on-enter
    float: right

  .product-groups
    li
      list-style: none
      margin-top: $m-half

    .btn-icon
      margin-top: $m-quarter
      
.row-dark
  background-color: $color-gray-light
  border-top: 1px solid #ddd
  
  .btn
    margin-top: 0

  .col-md-12
    border-bottom: 1px solid $color-white

  .col-md-7
    border-right: 1px solid $color-white

  .col-md-5,
  .col-md-7,
  .col-md-12
    margin: 0
    padding-top: $m-half

  &:after
    clear: both
    content: ''
    display: block

.or
  color: $color-gray-dark
  display: inline-block
  margin-top: $default-button-margin
  padding: 0 $m-quarter
  text-transform: uppercase
  vertical-align: middle
