.how-it-works
  margin: $m-double 0
    
  .container
    background:
      image: image-url('how-it-works.png')
      position: top
      repeat: no-repeat
      size: contain
    width: 100%

  .sales-manager,
  .sales-reps
    font:
      size: $font-size-medium
      weight: $font-weight-light
    line-height: 1
    text-align: center

  .sales-manager
    color: $color-green
    height: 240px
    margin-top: -$m * 1.5

  .sales-reps
    color: $color-green
    margin-bottom: -$m * 1.5

  @media (min-width: $screen-sm)
    &
      background:
        image: image-url('bg-how-it-works.jpg')
        position: bottom center
        repeat: no-repeat
        size: contain

    .container
      background-size: 100%
      height: 470px

    .sales-manager
      color: $color-white
      margin: 110px 0 0 64%
      text-align: left
      width: 220px

    .sales-reps
      margin-bottom: 0
      text-align: right
      width: 31%

  @media (min-width: $screen-md)
    .container
      height: 630px

    .sales-manager,
    .sales-reps
      font-size: $font-size-large

    .sales-manager
      height: 200px
      margin: 140px 0 0 63%

    .sales-reps
      margin-top: 160px
      width: 29%

  @media (min-width: $screen-lg)
    .container
      background-size: auto
      height: 610px

    .sales-manager,
    .sales-reps
      font-size: $font-size-big

    .sales-manager
      margin: 110px 0 0 61%

    .sales-reps
      margin-top: 150px
      width: 32%
