$icon-margin: 48px

.landing-mobile
  background:
    image: image-url('mobile.png')
    position: top center
    repeat: no-repeat
  margin: ($interval-default * 1.5) auto 0
  max-width: $mockup-width
  min-height: 500px

.landing-list
  margin:
    bottom: $interval-default
    top: $interval-default
  padding: 0

  li
    color: $color-gray
    font:
      family: $font-family-second
      size: $font-size-medium
    line-height: $line-height-small
    list-style: none
    margin: $m $interval-default $m $interval-default * 1.5
    padding-left: $icon-margin

    &:before
      @include circle-icons($default-icon-background, $default-icon-color)
      font-size: $icon-size-small
      margin:
        left: -$icon-margin
        top: -$m-quarter
      padding: $font-size-base  / 2
      position: absolute

.landing-form
  margin: 0 0 $interval-default * 1.5 $interval-default * 1.5

  .wizard_email input
    @include box-shadow($color-gray)
    @extend %left-corners
    float: left
    height: $inputs-size
    width: 58%
  label
    display: none
  .help-block
    position: absolute
    top: - $m
  .btn-primary
    @extend %right-corners
    @include box-shadow(darken($btn-primary-bg, 10%))
    border: inherit
    margin-top: 0

.landing-testimonials
  .testimonial
    color: $color-gray-dark
    font:
      family: $font-family-second
      size: $font-size-base + 1
      style: italic
    margin-top: $m * 1.5

  .testimonial-photo
    @include circle-icons($color-gray, $color-gray)
    float: left
    height: $thumbnail-images
    margin-top: $m * 2
    overflow: hidden
    width: $thumbnail-images
    img
      width: $thumbnail-images

  .testimonial-author
    display: inline-block
    margin-top: $m-double
    padding: $m-third $m
    h4, h5
      font:
        size: $font-size-base
        style: normal
      margin: 0
      padding: 0
    h4
      color: $color-green

/* ----- CMS ----- */
.cms
  @extend .row

  img[style="float: left;"]
    margin-right: $m

  img[style="float: right;"]
    margin-left: $m

  h3
    color: $color-orange

  a
    color: $color-orange

    &:hover
      text-decoration: underline

/* ----- Media queries ----- */
@media (max-height: 768px)
  .landing-list
    margin:
      bottom: $interval-default / 2
      top: 0

  .landing-form
    margin-bottom: $interval-small

  .cms
    img
      max-width: 100%

    img[style="float: left;"],
    img[style="float: right;"]
      height: auto
      width: 44px

@media (max-width: $screen-xs-max)
  .landing-list
    margin:
      bottom: $m-double
      top: $m

    li
      font-size: $font-size-base
      margin: $m-half 0 $m

  .landing-form
    margin: 0

    .wizard_email input
      border-right-width: 1px
      float: none
      width: 100%

    .btn-primary
      width: 100%

  .landing-mobile
    margin-top: $interval-default
