.wizard-window.sign-in
  h2
    text-align: center
  label
    margin-top: $interval-small * 1.5
    text-align: center
    width: 100%

  .user_remember_me
    div
      position: relative
      label
        input
          height: inherit
          left: 35%
          opacity: .5
          position: absolute
          top: -($inputs-size)

        label
          margin-top: 0
