.wizard-window.sign-in
  h2
    text-align: center
  label
    margin-top: $interval-small * 1.5
    text-align: center
    width: 100%

  .user_remember_me
    div
      height: 1px
      position: relative
      input
        height: inherit
        left: 35%
        position: absolute
        top: -($inputs-size)
        width: auto

        #user_remember_me + label
          color: red
          opacity: 1
        label
          margin-top: 0

  .form-warning
    @include box-shadow-border($color-gray-lighten, $default-border-radius, $color-gray-light)
    background-color: $color-gray-lighten
    font-family: $font-family-second
    padding: $m
    .help-block
      @extend %box-reset

  .form-inputs
    margin-bottom: -($interval-small)
    input
      width: 100%

  .form-actions
    margin-bottom: $interval-small
    .btn
      @include box-shadow-border($color-green, $default-border-radius, darken($color-green, 10%))
      float: none
