.wizard-window, .landing-page
  ul.ng-scope
    margin:
      bottom: 8px
      left: 60px
      top: 25px
    li
      color: $color-gray
      font:
        family: $font-family-second
        size: $font-size-medium
      list-style: none
      position: relative
      span
        left: -51px
        position: absolute
  form
    position: relative
    input, select
      @include box-shadow-border($color-gray-dark, $default-border-radius, $color-gray)
      float: left
      height: $inputs-size
      &.wizard-input
        @extend %left-corners
        width: calc(100% - (#{$inputs-size}))
    .wizard-add
      display: inline-block
      width: $inputs-size
      &:before
        @extend %right-corners
        @include box-shadow($color-gray)
        position: absolute
        right: 0
      &:hover:before
        background-color: $color-green
      input
        opacity: 0
        width: $inputs-size

    &.arguments-form, &.representative-form
      select
        margin-left: 15%
        margin-right: $m-quarter
        width: calc(15% - (#{$m-quarter}))
      .feature
        margin-right: $m-quarter
        width: calc(30% - (#{$m-quarter}))
      .benefit
        margin-right: $m-quarter
        width: calc(40% - (#{$inputs-size}) - (#{$m-quarter}))
      .four-corners:before
        @extend %four-corners

.wizard-window
  margin-top: $interval-default

.mobile-preview-container
  margin-top: $interval-default

  .preview-head
    color: $color-orange
    display: block
    padding-top: $interval-default * 1.6
    text-align: center
  ul, li
    margin: 0
    padding: 0
  .box
    margin: $mockup-margin auto
    overflow: hidden
    width: 78%
  li
    background-color: $prev1
    list-style: none
    margin: $mockup-margin 0
    padding: $m / 2 $m
    text-transform: capitalize

  ul.ng-scope
    &:nth-child(8n+1) li
      background-color: $prev8
    &:nth-child(8n+2) li
      background-color: $prev7
    &:nth-child(8n+3) li
      background-color: $prev6
    &:nth-child(8n+4) li
      background-color: $prev5
    &:nth-child(8n+5) li
      background-color: $prev4
    &:nth-child(8n+6) li
      background-color: $prev3
    &:nth-child(8n+7) li
      background-color: $prev2

  .preview-list
    &::-webkit-scrollbar
      display: none
    //----- FF fix -----
    height: $mockup-width * 1.18
    margin-right: -$m
    margin-top: $m / 4
    overflow-y: auto

  .preview-underlay
    background:
      image: image-url('mockup.png')
      position: top right
      repeat: no-repeat
    float: right
    min-height: $mockup-width * 2.5
    position: relative
    width: $mockup-width

  .preview-overlay
    background:
      image: image-url('glow.png')
      position: right top
      repeat: no-repeat
    display: block
    height: 60%
    position: absolute
    top: 0
    width: $mockup-width

.argument-list, .representative-list
  margin-top: $interval-small * 2.5
  h4
    display: inline-block
    float: left
    margin-bottom: $interval-small
    width: 50%
  .row
    @extend %box-reset
    margin-bottom: $m-half

  .argument-item, .feature, .benefit, .representative-item, .representative-name
    @include box-shadow-border($color-gray-dark, $default-border-radius, $color-gray)
    color: $color-gray-dark
    float: left
    font-family: $font-family-second
    height: $inputs-size
    line-height: $inputs-size
    padding: 0 $m-half

  .argument-delete, .representative-delete
    float: left
    height: $inputs-size
    line-height: $inputs-size

  .argument-item, .argument-delete
    margin-right: $m-quarter
    width: calc(15% - (#{$m-quarter}))
  .argument-item, .representative-item
    position: relative
    span
      color: $color-gray-light
      display: inline
      font-size: $font-size-medium
      left: -($m * 1.5)
      position: absolute
      top: 0
    p
      @extend %ellipsis-overflow
      position: inherit
      width: 100%

  .feature
    @extend %ellipsis-overflow
    margin-right: $m-quarter
    width: calc(30% - (#{$m-quarter}))

  .benefit
    @extend %ellipsis-overflow
    width: 40%

//----- mobile arguments preview -----

.mobile-preview-container .nav-pills
  li
    display: none
    &.active
      background-color: $color-white
      border: 2px solid $color-orange
      border-radius: $mobile-border-radius
      display: block
      padding: 0
      text-align: center
      width: 98%
      & a
        background-color: $color-transparent
        color: $color-orange
      &:before
        @extend %font-icons
        color: $color-orange
        content: '\e603'
        font-family: 'cursors'
        position: absolute
        right: $m-half
        top: $m-half

.mobile-preview-container
  ul.preview-argument.ng-scope
    margin-top: -($m-third)
    &:nth-child(odd) li
      background-color: $color-white
    &:nth-child(even) li
      background-color: $color-mobile-gray

  ul.preview-argument li
    color: $color-gray-dark
    span
      color: $color-gray
      display: block
      font-weight: bold

.representative-list
  .row
    @extend %left-default
    .representative-item, .representative-name
      margin-right: $m-quarter
      width: calc(50% - (6px) - (#{$inputs-size}) / 2)
    .representative-delete
      text-align: center
      width: $inputs-size
  h4.right
    margin-left: $inputs-size
    text-align: center
    width: calc(50% - (#{$inputs-size}))
  h4.center
    margin-right: $inputs-size
    width: calc(50% - (#{$inputs-size}))

.representative-form
  margin-left: $interval-default
  input
    margin-right: $m-quarter
    width: calc(50% - (6px) - (#{$inputs-size}) / 2)

ul.representative-preview.ng-scope
  margin-top: -($m-third)
  &:nth-child(odd) li
    background-color: $color-white
  &:nth-child(even) li
    background-color: $color-mobile-gray

ul.representative-preview li
  color: $color-gray-dark
  span
    color: $color-gray
    display: block
    font-weight: bold

.summary
  font-family: $font-family-second
  margin-bottom: $interval-default
  h3
    color: $color-gray
    font-size: $font-size-large
    margin: $interval-default / 2 0
  ul.ng-scope
    margin: 0
    padding: 0
    li
      font-size: $font-size-medium
      font-weight: $font-weight-light
      span
        color: $color-green
        left: 0
        position: inherit

  .review
    font-size: $font-size-medium