.category-window
  margin-top: $interval-default
  h2
    color: $color-gray-dark
    font:
      family: $font-family-second
      size: $font-size-big
      weight: $font-weight-light
  ul.ng-scope
    margin:
      bottom: 8px
      left: 60px
      top: 25px
    li
      color: $color-gray
      font:
        family: $font-family-second
        size: $font-size-medium
      list-style: none
      position: relative

      span
        left: -51px
        position: absolute
  form
    width: 557px
    position: relative
    input
      border: 1px solid $color-gray-dark
      border-radius: 3px
      box-shadow: 0 2px 0 0 $color-gray
      height: $inputs-size
      position: absolute
      right: 0
      top: 0
      width: 557px

    .wizard-add, .wizard-add input
      height: $inputs-size
      width: $inputs-size

.mobile-preview-container
  margin-top: $interval-default

