body
  text-rendering: optimizeLegibility
  font:
    family: $font-family-second
    size: $font-size-base

a
  color: $color-gray-dark
  &:hover
    color: $color-green
    text-decoration: none

.left
  text-align: left

.right
  text-align: right

.center
  text-align: center

.f-left
  float: left

.f-right
  float: right

.f-none
  float: none
