body
  padding-top: 0
  text-rendering: optimizeLegibility

a
  color: $color-gray-dark
  &:hover
    color: $color-green
    text-decoration: none

.left
  text-align: left

.right
  text-align: right

.center
  text-align: center

.f-left
  float: left

.f-right
  float: right

.f-none
  float: none

