a.btn-icon
  @extend %btn-primary
  border-radius: $default-border-radius
  color: $color-white
  margin-right: $m-quarter
  padding: $m-quarter

  &:before
    font-size: $icon-size-small
    vertical-align: middle
