a.btn-icon
  @extend %btn-primary
  border-radius: $default-border-radius
  color: $color-white
  display: inline-block
  margin-right: $m-quarter
  padding: $m-quarter

  &:before
    font-size: $icon-size-small
    vertical-align: middle

.btn-round
  color: $color-green
  display: inline-block
  margin-right: $m
  text:
    align: center
    transform: uppercase

  &:before
    @include circle-icons($color-green, $color-white)
    content: ''
    display: block !important
    height: $wizard-icons
    line-height: $wizard-icons
    margin: 0 auto 14px
    padding-top: $m
    text-align: center
    width: $wizard-icons

.btn-dark.btn-dark
  @include box-shadow(darken($color-gray-dark, 10%))
  background-color: $color-gray-dark
  color: $color-white
  &:hover
    @include box-shadow($color-gray-dark)
    background-color: (lighten($color-gray-dark,10%))
    border-color: (lighten($color-gray-dark,10%))
    color: $color-white
