%right-corners, .right-corners
  border:
    radius: 0 $default-border-radius $default-border-radius 0
    width: 1px 1px 1px 0

%left-corners, .left-corners
  border:
    radius: $default-border-radius 0 0 $default-border-radius
    width: 1px 0 1px 1px

%four-corners, .four-corners
  border:
    radius: $default-border-radius
    width: 1px

%box-reset
  margin: 0
  padding: 0

%font-icons
  display: inline-block
  font:
    style: normal
    variant: normal
    weight: normal
  line-height: 1
  speak: none
  text-transform: none

  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

%ellipsis-overflow
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

%left-default, .left-default
  margin-left: $interval-default

%right-default, .right-default
  margin-right: $interval-default

%top-small, .top-small
  margin-top: $interval-small

%bottom-small, .bottom-small
  margin-top: $interval-small

%inline, .inline
  display: inline

%block, .block
  display: block
