.wizard-window, .landing-page, .landing-testimonials, .my-account
  h2, h3
    color: $color-gray-dark
    font:
      family: $font-family-second
      size: $font-size-big
      weight: $font-weight-light

h4
  @extend %box-reset
  color: $color-gray-dark
  font:
    family: $font-family-base
    size: $font-size-base
