@font-face
  font-family: 'saapp-icons'
  src: font-url('saapp-icons.eot')
  src: font-url('saapp-icons.eot?#iefix') format('embedded-opentype'), font-url('saapp-icons.woff') format('woff'), font-url('saapp-icons.ttf') format('truetype'), font-url('saapp-icons.svg#saapp-icons') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'saapp-landing-icons'
  src: font-url('saapp-landing-icons.eot')
  src: font-url('saapp-landing-icons.eot?#iefix') format('embedded-opentype'), font-url('saapp-landing-icons.woff') format('woff'), font-url('saapp-landing-icons.ttf') format('truetype'), font-url('saapp-landing-icons.svg#saapp-landing-icons') format('svg')
  font-weight: normal
  font-style: normal

.icon-enter:before,
.icon-trash:before,
.icon-archive:before,
.icon-list:before,
.icon-star:before,
.icon-users:before,
.ng-isolate-scope a:before,
.ng-isolate-scope a:after,
%submit-on-enter:before,
.icon-progress:before,
.icon-money:before,
.icon-time:before,
.icon-gain:before,
.icon-set:before,
.icon-edit:before,
.icon-publish:before,
.icon-unpublish:before
  font:
    family: 'saapp-icons'
    size: $icon-size
  @extend %font-icons

.icon-progress:before,
.icon-money:before,
.icon-time:before,
.icon-gain:before,
.icon-set:before
  font:
    family: 'saapp-landing-icons'

.icon-enter:before
  content: '\e600'

.icon-trash:before
  content: '\e251'

.icon-archive:before
  content: '\e602'

.icon-list:before
  content: '\e603'

.icon-star:before
  content: '\e604'

.icon-users:before
  content: '\e605'

.icon-progress:before
  content: '\e604'

.icon-money:before
  content: '\e602'

.icon-time:before
  content: '\e603'

.icon-gain:before
  content: '\e600'

.icon-set:before
  content: '\e601'

.icon-edit:before
  content: '\e00d'

.icon-publish:before
  content: '\e2d9'

.icon-unpublish:before
  content: '\e2da'

//----- cursors icons -----
@font-face
  font-family: 'cursors'
  src: font-url('cursors.eot')
  src: font-url('cursors.eot?#iefix') format('embedded-opentype'), font-url('cursors.woff') format('woff'), font-url('cursors.ttf') format('truetype'), font-url('cursors.svg#cursors') format('svg')

.cursor-right:after, .cursor-left:after, .cursor-up:after, .cursor-down:after
  font:
    family: 'cursors'
    size: $icon-size
  @extend %font-icons

//----- profile icons -----
@font-face
  font-family: 'profile'
  src: font-url('profile.eot')
  src: font-url('profile.eot?#iefix') format('embedded-opentype'), font-url('profile.woff') format('woff'), font-url('profile.ttf') format('truetype'), font-url('profile.svg#profile') format('svg')

.icon-team:after
  content: '\e600'
  font:
    family: 'profile'
  @extend %font-icons
