@font-face
  font-family: 'saapp-icons'
  src: font-url('saapp-icons.eot')
  src: font-url('saapp-icons.eot?#iefix') format('embedded-opentype'), font-url('saapp-icons.woff') format('woff'), font-url('saapp-icons.ttf') format('truetype'), font-url('saapp-icons.svg#saapp-icons') format('svg')
  font-weight: normal
  font-style: normal

.icon-enter:before,
.icon-trash:before,
.icon-archive:before,
.icon-list:before,
.icon-star:before,
.icon-users:before,
.ng-isolate-scope a:before,
.icon-progress:before,
.icon-money:before,
.icon-time:before,
.icon-gain:before,
.icon-set:before,
.icon-edit:before,
.icon-publish:before,
.icon-unpublish:before,
.cursor-right:after,
.icon-team:before,
.icon-graph:before,
.icon-back:before,
.icon-help:before,
.icon-mail:before
  font:
    family: 'saapp-icons'
    size: $icon-size
  @extend %font-icons

.icon-progress:before,
.icon-money:before,
.icon-time:before,
.icon-gain:before,
.icon-set:before
  font:
    family: 'saapp-icons'

.icon-enter:before
  content: '\e41c'

.icon-trash:before
  content: '\e251'

.icon-archive:before
  content: '\e602'

.icon-list:before
  content: '\e603'

.icon-star:before
  content: '\e604'

.icon-users:before
  content: '\e605'

.icon-progress:before
  content: '\e607'

.icon-money:before
  content: '\e605'

.icon-time:before
  content: '\e606'

.icon-gain:before
  content: '\e602'

.icon-set:before
  content: '\e604'

.icon-edit:before
  content: '\e00d'

.icon-publish:before
  content: '\e2d9'

.icon-unpublish:before
  content: '\e2da'

.icon-team:before
  content: '\e601'

.icon-graph:before
  content: '\e1fe'

.icon-back:before
  content: '\e600'
  font-size: 24px
  vertical-align: -4px

.icon-help:before
  content: '\e60c'
  cursor: pointer
  font-size: $icon-size-small

.icon-mail:before
  content: '\e60d'
  font-size: $icon-size-small
  margin-right: $m-quarter
  vertical-align: bottom
