.saapp-table
  margin-bottom: 0
  
  tbody tr td
    border:
      color: $color-gray-light
      style: solid
      width: 0 1px 1px 0
    line-height: $font-size-base * 2
    padding: $m / 2 $m

    &:last-child
      border-right: 0

  .btn-icon
    line-height: $font-size-base

  th
    background-color: $color-gray-light
    border-right: 1px solid $color-white
    color: $color-gray
    font-size: $font-size-base
    text-align: center

    &:last-child
      border-right-width: 0
