.category-window.col-md-6
  %h2= I18n.t('landing.free_30')
  - if guest?
    = simple_form_for wizard, method: :get, url: new_wizard_path  do |f|
      = f.input :email
      = f.submit

.landing-mobile.col-md-4.col-md-offset-2