%h2= t('wizard.step_1.header')
%div
  %ol
    %li
      iPhone
      %span.glyphicon.glyphicon-trash
    %li
      iPad
      %span.glyphicon.glyphicon-trash
    %li
      %input
      %span.glyphicon.glyphicon-plus
