%h2= t('wizard.step_1.header')
%div{'ng-app' => 'wizardApp', 'ng-controller' => 'wizardCtrl'}
  %ul{'ng-repeat' => 'category in categories'}
    %li
      {{$index + 1}} - {{category}}
      %span.glyphicon.glyphicon-trash

  %form{name: 'newCategoryForm'}
    %input
    %span.glyphicon.glyphicon-plus
