%h2= t('wizard.step_1.header')
%div{'ng-app' => 'wizardApp', 'ng-controller' => 'wizardCtrl'}
  %div{'ng-controller' => 'categoryCtrl'}
    %ul{'ng-repeat' => 'category in wizard.categories'}
      %li
        {{$index + 1}} - {{category}}
        %span.glyphicon.glyphicon-trash{'ng-click' => 'removeCategory(category)'}

    %form{name: 'newCategoryForm',
    'ng-submit' =>'addCategory(wizard)'}
      %input{'ng-model' => 'category.name'}
      %input.glyphicon.glyphicon-plus{type: 'submit'}
