%div.mobile-preview-container
  %tabset{type: 'pills'}
    %tab{'ng-repeat' => 'productGroup in wizard.productGroups', heading: '{{productGroup.name}}', active: 'productGroup.active'}
      %ul{'ng-repeat' => 'argument in productGroup.arguments', 'ng-animate' => 'animate'}
        %li {{argument.feature}} - {{argument.benefit}}
