%div.mobile-preview-container
  %tabset{type: 'pills'}
    %tab{'ng-repeat' => 'category in wizard.categories', heading: '{{category.name}}', active: 'category.active'}
      %ul{'ng-repeat' => 'argument in category.arguments', 'ng-animate' => 'animate'}
        %li {{argument.feature}} - {{argument.benefit}}
