.mobile-preview-container.col-md-3.col-md-offset-2
  .preview-underlay
    %span.preview-head
      = I18n.t('common.argument.many')
    .box
      %tabset{type: 'pills'}
        %tab{'ng-repeat' => 'productGroup in wizard.productGroups', heading: '{{productGroup.name}}', active: 'productGroup.active'}
          %ul.preview-argument{'ng-repeat' => 'argument in productGroup.arguments', 'ng-animate' => 'animate'}
            %li
              %span {{argument.feature}}
              {{argument.benefit}}

    .preview-overlay
