.mobile-preview-container.col-md-4.col-md-offset-2
  .preview-underlay
    %tabset{type: 'pills'}
      %tab{'ng-repeat' => 'category in wizard.categories', heading: '{{category.name}}', active: 'category.active'}
        %ul{'ng-repeat' => 'argument in category.arguments', 'ng-animate' => 'animate'}
          %li {{argument.feature}} - {{argument.benefit}}

    .preview-overlay
