.mobile-preview-container.col-md-3.col-md-offset-1
  .preview-underlay
    %span.preview-head
      {{ 'common.invitation.many' | translate }}
    .box
      .preview-list
        %ul.representative-preview{'ng-repeat' => 'invitation in wizard.invitations'}
          %li
            %span {{invitation.displayName}}
            {{invitation.email}}
    .preview-overlay
