.mobile-preview-container.col-md-3.col-md-offset-2
  .preview-underlay
    %span.preview-head
      = I18n.t('common.invitation.many')
    .box
      .preview-list
        %ul.representative-preview{'ng-repeat' => 'invitation in wizard.invitations'}
          %li
            %span {{invitation.displayName}}
            {{invitation.email}}
    .preview-overlay
