.category-window.col-md-6{'ng-controller' => 'argumentCtrl'}
  %h2= I18n.t('wizard.step_2.header')

  .argument-list
    %span= I18n.t('common.feature')
    %span= I18n.t('common.benefit')

    .row{'ng-repeat' => "argument in wizard.arguments"}

      .argument-delete
        %span.glyphicon.glyphicon-trash{'ng-click' => 'removeArgument(argument)'}
      .argument-item
        .div {{$index + 1}}
        {{argument.productGroup.name}}
      .feature {{argument.feature}}
      .benefit {{argument.benefit}}
      .clearfix

  .clearfix

  %form.arguments-form{name: 'newArgumentForm', 'ng-submit' =>'addArgument(wizard)'}
    %select{'ng-model' => 'argument.productGroup', 'ng-options' => 'productGroup as productGroup.name for productGroup in wizard.productGroups', required: true}
    %input.feature{'ng-model' => 'argument.feature', required: true}
    %input.benefit{'ng-model' => 'argument.benefit', required: true}
    %span.wizard-add.four-corners
      %input{type: 'submit'}

  %button.btn.btn-primary{type: 'button', 'ng-disabled' => '!secondStepValid()', 'ng-click' => 'steps[2].active = true'}
    = I18n.t('wizard.step_2.next_step_button')

%arguments-preview
