.category-window.col-md-7{'ng-controller' => 'productGroupCtrl'}
  %h2= I18n.t('wizard.step_1.header')
  %ul{'ng-repeat' => 'productGroup in wizard.productGroups'}
    %li
      {{$index + 1}} - {{productGroup.name}}
      %span.glyphicon.glyphicon-trash{'ng-click' => 'removeProductGroup(productGroup)'}


  %form{name: 'newProductGroupForm',
  'ng-submit' =>'addProductGroup(wizard)',
  'ng-hide' => 'atProductGroupsLimit()'}
    %input.wizard-input{'ng-model' => 'productGroup.name', required: true}
    %span.wizard-add
      %input{type: 'submit', value: ' '}
  %span{'ng-show' => 'atProductGroupsLimit()'}
    = I18n.t('wizard.step_1.at_product_groups_limit_notification', maximum_amount: 20)

  %button.btn.btn-primary{type: 'button', 'ng-disabled' => '!firstStepValid()', 'ng-click' => 'steps[1].active = true'}
    = I18n.t('wizard.step_1.next_step_button')

%product-groups-preview
