.wizard-window.col-md-12.summary
  %h2
    {{ 'wizard.step_4.header' | translate }}

  %h3
    {{ 'wizard.step_4.categories_and_arguments_header' | translate }}

  .row
    .col-sm-12.col-md-11.col-md-offset-1
      .review{'ng-repeat' => 'productGroup in wizard.productGroups'}
        %h4.h4 {{productGroup.name}}
        %ul
          %li{'ng-repeat' => 'argument in productGroup.arguments'}
            {{argument.feature}}
            %span
              {{ 'wizard.step_4.benefit' | translate }}
            {{argument.benefit}}

  %h3
    {{ 'wizard.step_4.invitations_header' | translate }}
  .row
    .col-sm-12.col-md-11.col-md-offset-1
      %ul
        %li{'ng-repeat' => 'invitation in wizard.invitations'}
          %strong {{invitation.email}}
          {{invitation.displayName}}

  %div{'ng-if' => "wizard.invitationMessage != ''"}
    %h3
      {{ 'wizard.step_4.invitation_message_header' | translate }}
    .row
      .col-sm-12.col-md-11.col-md-offset-1
        %ul
          %li
            {{wizard.invitationMessage}}

    .clearfix

  %button.btn.btn-dark.pull-left{type: 'button', 'ng-click' => 'steps[2].active = true'}
    {{ 'wizard.step_4.prev_step_button' | translate }}

  %button.btn.btn-primary.ladda-button.pull-right{type: 'button', 'ng-click' => 'submitWizard()', data: {style: 'zoom-out'}}
    {{ 'wizard.step_4.submit_button' | translate }}
