.wizard-window.col-md-8.summary
  %h2
    {{ 'wizard.step_4.header' | translate }}

  .left-default

    %h3
      {{ 'wizard.step_4.categories_and_arguments_header' | translate }}
    .review{'ng-repeat' => 'productGroup in wizard.productGroups'}
      %strong {{productGroup.name}}
      %ul.inline{'ng-repeat' => 'argument in productGroup.arguments'}
        %li.inline
          {{argument.feature}}
          %span
            {{ 'wizard.step_4.benefit' | translate }}
          {{argument.benefit}}

    %h3
      {{ 'wizard.step_4.invitations_header' | translate }}
    %ul{'ng-repeat' => 'invitation in wizard.invitations'}
      %li.block
        %strong {{invitation.email}}
        {{invitation.displayName}}

    %div{'ng-if' => "wizard.invitationMessage != ''"}
      %h3
        {{ 'wizard.step_4.invitation_message_header' | translate }}
      %ul
        %li.block
          {{wizard.invitationMessage}}

    .clearfix

    %button.btn.btn-dark.pull-left{type: 'button', 'ng-click' => 'steps[2].active = true'}
      {{ 'wizard.step_4.prev_step_button' | translate }}

    %button.btn.btn-primary.ladda-button.pull-right{type: 'button', 'ng-click' => 'submitWizard()', data: {style: 'zoom-out'}}
      {{ 'wizard.step_4.submit_button' | translate }}
