.wizard-window.col-md-7{'ng-controller' => 'argumentCtrl'}
  %h2
    {{ 'wizard.step_2.header' | translate }}

  .argument-list
    %h4.right
      {{ 'common.feature' | translate }}
    %h4.center
      {{ 'common.benefit' | translate }}
    .clearfix

    .row{'ng-repeat' => "argument in wizard.arguments"}

      .argument-delete
        %span.glyphicon.glyphicon-trash{'ng-click' => 'removeArgument(argument)'}
      .argument-item
        %span {{$index + 1}}
        %p {{argument.productGroup.name}}
      .feature {{argument.feature}}
      .benefit {{argument.benefit}}
      .clearfix

  .clearfix

  %form.arguments-form{name: 'newArgumentForm', 'ng-submit' =>'addArgument(wizard)'}
    %select{'ng-model' => 'argument.productGroup', 'ng-options' => 'productGroup as productGroup.name for productGroup in wizard.productGroups', required: true}
    %input.feature{'ng-model' => 'argument.feature', required: true, autofocus: true, autocomplete: 'off'}
    %input.benefit{'ng-model' => 'argument.benefit', required: true, autocomplete: 'off'}
    %input.wizard-add.four-corners{type: 'submit', value: "{{'common.add' | translate }}"}

  %button.btn.btn-primary{type: 'button', 'ng-disabled' => '!secondStepValid()', 'ng-click' => 'steps[2].active = true'}
    {{ 'wizard.step_2.next_step_button' | translate }}

%arguments-preview
