%div{'ng-controller' => 'argumentCtrl'}
  %h2= I18n.t('wizard.step_2.header')
  %table
    %thead
      %th
      %th= I18n.t('common.feature')
      %th= I18n.t('common.benefit')
      %th
    %tbody{'ng-repeat' => "argument in wizard.arguments"}
      %tr
        %td {{$index + 1}} - {{argument.productGroup.name}}
        %td {{argument.feature}}
        %td {{argument.benefit}}
        %td
          %span.glyphicon.glyphicon-trash{'ng-click' => 'removeArgument(argument)'}

  %button.btn.btn-primary{type: 'button', 'ng-enabled' => 'secondStepValid()', 'ng-click' => 'steps[2].active = true'}
    = I18n.t('wizard.step_2.next_step_button')

  %form{name: 'newArgumentForm', 'ng-submit' =>'addArgument(wizard)'}
    %select{'ng-model' => 'argument.productGroup', 'ng-options' => 'productGroup as productGroup.name for productGroup in wizard.productGroups', required: true}
    %input{'ng-model' => 'argument.feature', required: true}
    %input{'ng-model' => 'argument.benefit', required: true}
    %input.glyphicon.glyphicon-plus{type: 'submit'}

  %arguments-preview
