.wizard-window.col-md-8{'ng-controller' => 'invitationCtrl'}
  %h2
    {{ 'wizard.step_3.header' | translate }}

  .representative-list
    %h4.right
      {{ 'common.email' | translate }}
    %h4.center
      {{ 'common.name' | translate }}
    .clearfix
    .row{'ng-repeat' => 'invitation in wizard.invitations'}
      .representative-item
        %span {{$index + 1}}
        %p {{invitation.email}}
      .representative-name {{invitation.displayName}}
      .representative-delete
        %span.glyphicon.glyphicon-trash{'ng-click' => 'removeInvitation(invitation)'}
      .clearfix
  .clearfix

  %form.representative-form{name: 'newInvitationForm', 'ng-submit' =>'addInvitation(wizard)'}
    %input{'ng-model' => 'invitation.email', 'ng-trim' => 'false', required: true, autofocus: true, type: 'text', autocomplete: 'off', pattern: "^[^@\\s]+@([^@\\s]+\\.)+[^@\\s]+$"}
    %input{'ng-model' => 'invitation.displayName', autocomplete: 'off'}
    %input.wizard-add.four-corners{type: 'submit', value: "{{'common.add' | translate }}", tabindex: -1}
    .my-account
      %textarea#invitation_message{'ng-show' => 'invitationMessageVisible', 'ng-model' => 'wizard.invitationMessage', 'placeholder' => "{{ 'wizard.step_3.message_placeholder' | translate }}"}

  %button.btn.btn-dark.pull-left{type: 'button', 'ng-click' => 'steps[1].active = true'}
    {{ 'wizard.step_3.prev_step_button' | translate }}

  %button.btn.btn-primary.pull-right{type: 'button', 'ng-disabled' => '!thirdStepValid()', 'ng-click' => 'steps[3].active = true'}
    {{ 'wizard.step_3.next_step_button' | translate }}

  %button.btn.btn-dark.add-message{type: 'button', 'ng-click' => "invitationMessageVisible = true"}
    {{ 'wizard.step_3.add_message' | translate }}

%invitations-preview
