.category-window.col-md-6{'ng-controller' => 'argumentCtrl'}
  %h2= I18n.t('wizard.step_2.header')
  %table.argument-list
    %thead
      %th
      %th= I18n.t('common.feature')
      %th= I18n.t('common.benefit')
      %th
    %tbody{'ng-repeat' => "argument in wizard.arguments"}
      %tr
        %td.argument-delete
          %span.glyphicon.glyphicon-trash{'ng-click' => 'removeArgument(argument)'}
        %td.argument-item
          %span {{$index + 1}}
          {{argument.productGroup.name}}
        %td.feature {{argument.feature}}
        %td.benefit {{argument.benefit}}

  %form.arguments-form{name: 'newArgumentForm', 'ng-submit' =>'addArgument(wizard)'}
    %select{'ng-model' => 'argument.productGroup', 'ng-options' => 'productGroup as productGroup.name for productGroup in wizard.productGroups', required: true}
    %input.feature{'ng-model' => 'argument.feature', required: true}
    %input.benefit{'ng-model' => 'argument.benefit', required: true}
    %span.wizard-add.four-corners
      %input{type: 'submit'}

  %button.btn.btn-primary{type: 'button', 'ng-disabled' => '!secondStepValid()', 'ng-click' => 'steps[2].active = true'}
    = I18n.t('wizard.step_2.next_step_button')

%arguments-preview
