.wizard-window.col-md-7{'ng-controller' => 'productGroupCtrl'}
  %h2
    {{ 'wizard.step_1.header' | translate }}
  %ul{'ng-repeat' => 'productGroup in wizard.productGroups'}
    %li
      {{$index + 1}} - {{productGroup.name}}
      %span.glyphicon.glyphicon-trash{'ng-click' => 'removeProductGroup(productGroup)'}


  %form{name: 'newProductGroupForm',
  'ng-submit' =>'addProductGroup(wizard)',
  'ng-hide' => 'atProductGroupsLimit()'}
    %input.wizard-input{'ng-model' => 'productGroup.name', required: true, tabindex: 1, autofocus: true, autocomplete: 'off'}
    %input.wizard-add{type: 'submit', value: "{{'common.add' | translate }}"}
  %span{'ng-show' => 'atProductGroupsLimit()'}
    {{ 'wizard.step_1.at_product_groups_limit_notification' | translate:'{"maximum_amount": 20}' }}

  %button.btn.btn-primary{type: 'button', 'ng-disabled' => '!firstStepValid()', 'ng-click' => 'steps[1].active = true', tabindex: 2}
    {{ 'wizard.step_1.next_step_button' | translate }}

%product-groups-preview
