.wizard-window.col-md-7{'ng-controller' => 'invitationCtrl'}
  %h2
    {{ 'wizard.step_3.header' | translate }}

  .representative-list
    %h4.right
      {{ 'common.email' | translate }}
    %h4.center
      {{ 'common.name' | translate }}
    .clearfix
    .row{'ng-repeat' => 'invitation in wizard.invitations'}
      .representative-item
        %span {{$index + 1}}
        %p {{invitation.email}}
      .representative-name {{invitation.displayName}}
      .representative-delete
        %span.glyphicon.glyphicon-trash{'ng-click' => 'removeInvitation(invitation)'}
      .clearfix
  .clearfix

  %form.representative-form{name: 'newInvitationForm', 'ng-submit' =>'addInvitation(wizard)'}
    %input{'ng-model' => 'invitation.email', required: true, autofocus: true, type: 'email', }
    %input{'ng-model' => 'invitation.displayName'}
    %span.wizard-add.four-corners
      %input{type: 'submit', tabindex: -1}

  %button.btn.btn-primary{type: 'button', 'ng-disabled' => '!thirdStepValid()', 'ng-click' => 'steps[3].active = true'}
    {{ 'wizard.step_3.next_step_button' | translate }}

%invitations-preview
