= content_for :top do
  %ul.nav.nav-tabs
    %li{class: ('active' if controller_name == 'product_groups')}
      = link_to t('manager.tabs.product_groups'), manager_product_groups_path
    %li{class: ('active' if controller_name == 'users')}
      = link_to t('manager.tabs.users'), manager_users_path

= render template: 'layouts/application'
