= content_for :top do
  %ul.nav.nav-tabs
    %li{class: ('active' if controller_name == 'categories')}
      = link_to t('manager.tabs.categories'), manager_categories_path

= render template: 'layouts/application'
